<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="./css/rating.css">

<!-- Content delivery for handlebars -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<title>Cocktail Curator</title>
</head> 
<body>

<nav class="navbar">
  <form class="form-inline">
    <a href="/viewed"><button class="btn btn-outline-success" type="button">Most Viewed Cocktails</button></a>
    <a href="/ratings"><button class="btn btn-outline-success" type="button">Cocktail Rankings</button></a>
    <a href="/saved"><button class="btn btn-outline-success" type="button">Saved Drinks</button></a>
    <a href="/"><h1 class="text-white">Cocktail Curator</h1></a>
    <a href="/upload-drink.html"><button class="btn btn-outline-success" type="button">Upload Drink</button></a>
    <a href="./login.html"><button class="btn btn-outline-success" type="button">Login</button></a>
    <a href="./logout.html"><button class="btn btn-outline-success" type="button">Logout</button></a>
  </form>
</nav> 


<div>
  <form id="search-form">
      <label id="search-label" for="search-input">Search for a City:</label>
      <input id="search-input" class="form-input" placeholder="e.g. Philadelphia"></input>
      <button class="button">Search</button>
      <p id="current-temp"></p> 
  </form>
</div>

<div id="tempText"></div>
<div id="city-drink-name" class="grid-x grid-margin-x"></div>
<div id="recipe" class="grid-x grid-margin-x"></div>


<script type="x-handlebars-template" id="template">
  {{data}}
  
  <div id="card1" class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100" style="max-width: 24rem;">
            <img src="./images/{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 id="cocktail-name" class="card-title text-primary">{{this.name}}</h5>
              <button id = "{{this.name}}" class="btn btn-primary" type="submit">Recipe</button>
            </div>
          </div>
        </div>
  </div>
  </div>

</script>

<div id="output">

</div>

<!--! Start Ingredient Search ------------------------------------------->
<div>
  <form id="search-ingredient-form">
      <label id="search-ingredient-label" for="search-input">Search by Ingredient:</label>
      <input id="search-ingredient-input" class="form-input" placeholder="e.g. Vodka"></input>
      <button class="button">Search</button>
      <p id="#search-ingrdient"></p>
  </form>
</div>

<script type="x-handlebars-template" id="template2">
  {{#each data}}
      
  <div data-attribute = "{{this.id}}" class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100" style="max-width: 24rem;">
            <img src="./images/{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 id="cocktail-name" class="card-title text-primary">{{this.name}}</h5>
              <button id = "{{this.name}}" onclick = "redirectRecipe(this.id)" class="btn btn-primary" type="submit">Recipe</button>
            </div>
          </div>
        </div>
  </div>
  </div>

  {{/each}}  

</script>


<div id="output2">

</div>

<!-- End Ingredient Search ------------------------------------------>

<div>
  <form id="name-search">
      <label for="cocktail-name">Search for cocktail by name</label>
      <input id="name" type="cocktail-name" placeholder="For example 'margarita'">
      <button class="button">Search</button>
  </form>
</div>

<div id="output3"></div>

<script src="/js/homepage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>